
.t-icon {
    display: inline-block;
    width: 2rem; 
    height: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}



.t-icon-LOL-baidi {
    background: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20width%3D%27100%25%27%20height%3D%27100%25%27%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20id%3D%22t-icon-LOL-baidi%22%20viewBox%3D%220%200%201024%201024%22%3E%3Cpath%20d%3D%22M512%200A512%20512%200%201%201%200%20512%20512%20512%200%200%201%20512%200z%22%20fill%3D%22%23EFEFEF%22%20%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M240.341333%20871.978667l36.778667-76.8V204.8L240.341333%20128h194.730667v598.869333h292.693333l-40.490666%20145.066667z%20m517.290667-136.533334l8.234667-29.610666a289.536%20289.536%200%200%200-299.861334-467.242667V184.661333a342.826667%20342.826667%200%200%201%20273.28%20616.021334z%20m-29.866667-39.466666h-261.76V270.634667a259.029333%20259.029333%200%200%201%20267.477334%20425.130666zM205.056%20517.845333a342.357333%20342.357333%200%200%201%2041.088-163.157333v326.4a342.784%20342.784%200%200%201-41.088-163.242667z%22%20fill%3D%22%23CCA838%22%20%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}
